[Desktop Entry]
Encoding=UTF-8
Name=Link to 02 Essential C Security 101 - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1nIKo4LLuuUsU-BN23m2zFQgdi7RCmK-SwFbLkssIuwc/edit
Icon=text-html
