[Desktop Entry]
Encoding=UTF-8
Name=Link to 03 Essential C Security 102 - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1EhwXYr2Ffe3VQlkH-PcJ3FXN4xCVvYohC5h6NL0sKw0/edit
Icon=text-html
