[Desktop Entry]
Encoding=UTF-8
Name=Link to 04 Code Auditing - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1mi8cCN6EU7P-eZrA9ngGT1Bxu9I74-A9nHt4OE2oupQ/edit#slide=id.p
Icon=text-html
