[Desktop Entry]
Encoding=UTF-8
Name=Link to 05 Permissions Spectrum - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1PD470vmD95Ye5uDK6yhUXLiiHFwre5I36SjY4d5QJrA/edit#slide=id.g261898204_034
Icon=text-html
