[Desktop Entry]
Encoding=UTF-8
Name=Link to 15 Web Application Penetration Testing 101 - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1jnpIqhalXFKFP3jSOzNaUNt4iaVLSf7GWDy1qgJLhOo/edit
Icon=text-html
