[Desktop Entry]
Encoding=UTF-8
Name=Link to 16 Web Application Penetration Testing 102 - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1kZ7QK-RQpyoGQXc1xnE082RhtPd3h2irOiSpOxOq_nM/edit
Icon=text-html
