[Desktop Entry]
Encoding=UTF-8
Name=Link to 17 Web Application Hacking 103 - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1DK4L1D2n7ZR47srO1RMAutgjmIr0G0pEhZ0RU6z-yys/edit
Icon=text-html
