[Desktop Entry]
Encoding=UTF-8
Name=Link to 21 Return Oriented Programming (with Devin Cook) - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1JQpdhPSqoYfOSn56-yGwzsQr0o5K26jbzMHKH2jpZ9A/edit
Icon=text-html
