[Desktop Entry]
Encoding=UTF-8
Name=Link to 22 Metasploit - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/10p1Sseq6Nj-ojF-Zp9CXzFvOKMk7hBY-p0ohPj_PF7A/edit
Icon=text-html
