[Desktop Entry]
Encoding=UTF-8
Name=Link to 24 Volatility - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1Q29K-gXu2Q-Ttjyuav-tcUJT4RV-UGU_Tncmxnc8ihU/edit
Icon=text-html
