[Desktop Entry]
Encoding=UTF-8
Name=Link to 25 Revisiting topics - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1dXisse51sjDIaxXLi1DTIXomzKO16tKFMXUdPYnMJWE/edit
Icon=text-html
