[Desktop Entry]
Encoding=UTF-8
Name=Link to 01 Intro - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/17MQ1mTTe93gQ0I6JvFm3ZuYMlqmlvareqsyw1iom9AY/edit
Icon=text-html
Name[en_US]=Link to 01 Intro - Google Slides.desktop
