[Desktop Entry]
Encoding=UTF-8
Name=Link to 11 Advanced Fuzzing Topics - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1jUrXSVz0RMP_L-avuMdw2Vf6PaCDnURvTMITXXQyYL8/edit#slide=id.p
Icon=text-html
Name[en_US]=Link to 10a Advanced Fuzzing Topics - Google Slides
