[Desktop Entry]
Encoding=UTF-8
Name=Link to 10 Midterm #1 Review - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1AxlEvQy-Z7meZgjJKMmZoGw7BLeqQpG7ZK52rSQ6XMQ/edit#slide=id.p
Icon=text-html
Name[en_US]=Link to 09 Midterm #1 Review - Google Slides
