[Desktop Entry]
Encoding=UTF-8
Name=Link to 09 Fuzzing - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1EXEVsQaRMVNDnmseo-065IDgebivAby95lYPQbQoyYo/edit
Icon=text-html
Name[en_US]=Link to 08 Fuzzing - Google Slides
